<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
</head>
<body>
    <h1>Menú</h1>
    <ul>
        <li><a href="http://192.168.1.82:6001">convertir Video a 1080x1920 con edicion de audio</a></li>
        <li><a href="http://192.168.1.82:6002">convertir Video a 1080x1920</a></li>
        <li><a href="http://192.168.1.82:6003">convertir Video a 1080x1080 con edicion de audio</a></li>
        <li><a href="http://192.168.1.82:6004">convertir Video a 1080x1080</a></li>
        <li><a href="http://192.168.1.82:5000/uploads/output.mp4">ver Video Editado</a></li>
    </ul>
</body>
</html>
