<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convertir Video a 1080x1920 con edicion de audio</title>
</head>
<body>
    <h1>Convertir Video a 1080x1920 con edicion de audio</h1>
    <form method="POST" enctype="multipart/form-data">
        <label for="texto">Video:</label>
        <input type="file" name="video" accept="video/mp4">
        <label for="texto">Audio Video Editado:</label>
        <input type="file" name="audio2" accept="audio/mp3, audio/wav">
        <label for="texto">grafica:</label>
        <input type="file" name="image" accept="image/png, image/jpeg">
        <label for="texto">.................................................................</label>
        <label for="texto">Foto Final de Video:</label>
        <input type="file" name="second_image" accept="image/png">
        <label for="texto">Musica de Fondo:</label>
        <input type="file" name="audio" accept="audio/mp3, audio/wav">
    
        <input type="submit" value="Subir">
    </form>

    <a href="http://192.168.1.82:6005">Volver al Menú Principal</a>
</body>
</html
